.ios, .md{
  page-list {

  .scroll{
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
  
  div.item-inner{
    background-color: gainsboro;
  }

  div.input-wrapper{
    background-color: dimgray;
  }

  button.item.item-block.item-ios{
    background-color: transparent;
  }

  div.fixed-content{
    background-image: url('../assets/images/eventPromo.jpg');
    background-position: center;
  }

  button.item.item-block.item-md{
    background-color: transparent;
    padding: 16px;
  }

  div.item-inner{
    border-radius: 5px;
  }



  }
}
