page-list {

div.item-inner{
  background-color: gainsboro;
}

div.input-wrapper{
  background-color: dimgray;
}

div.fixed-content{
  background-image: url('../assets/images/eventPromo.jpg');
  background-position: center;
}

button.item.item-block.item-md{
  background-color: transparent;
  padding: 16px;
}

div.item-inner{
  border-radius: 5px;
}



}
