<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PuttConnect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding #nouser>
    <h3>My Profile</h3>
  </div>

  <div>
      <p>{{status}}</p>
  </div>

<div >
  <p>
    These is the page where you can edit, add, and delete your posts. Slide left to edit or delete a post.
  </p>

</div>

<div *ngIf="allow">
<button ion-button (click)="postRental()">Create Post</button>

  <ion-list>
    <ion-item-sliding *ngFor="let rental of rentals">
      <ion-item text-wrap>
        {{rental.title}}
        <ion-item>Description: {{rental.itemDescription}}</ion-item>
        <ion-item>Price: {{rental.itemAmount | currency:'USD':true}}</ion-item>
      </ion-item>
        <ion-item-options>
          <button ion-button icon-only (click)="editRental(rental)" color="light">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteRental(rental)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button icon-only (click)="capture()" color="primary">
            <ion-icon name="camera"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <img [src]="captureDataUrl" *ngIf="captureDataUrl" />
  <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload to Firebase!</button>
</div>

</ion-content>
